@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  background-color:#1928d2;
  color: #FFFFFF;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

.header{
  background-image: url('./assets/imgs/hero-background-2.jpg');
  background-size: cover;
  background-position: center;
}